.header_container {
    display: flex;
}

.header_wrap {
    position: fixed;
    right: 0;
}

.hamburger_menu {
    font-family: Roboto, sans-serif;
    padding: 30px;
    cursor: pointer;
    margin: 0;
    font-size: 25px;
    color: #fff;
    transition: transform 0.3s ease;
}

.hamburger_menu.open {
    transform: rotate(180deg);
}

.header_text {
    float: right;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    height: 64px;
    width: 775px;
    border-radius: 2px 2px 30px 30px;
}

.header_li {
    font-family: Roboto, sans-serif;
    margin-right: 3rem;
    padding: 1.5rem;
    float: right;
    border: 0;
    cursor: pointer;
    opacity: 0.6;
}

.header_li:hover {
    opacity: 1;
}

.header_text_mobile {
    background-color: #5d5d5daa;
    position: relative;
    z-index: 1000;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header_li_mobile {
    margin: 10px;
}
